@model Tuple<StackOverFlow.Models.Question,IEnumerable<StackOverFlow.Models.Answer>>

@{
    ViewData["Title"] = "DisplayQuestion";
    var Quid = Context.Request.Query["QuestionId"];
}
<div class="w-75">
    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
        <div class="nav-item w-75">
            <p style="font-size:24px">@Html.DisplayFor(model => model.Item1.Title)</p>
        </div>
        <div>
            <ul class="nav-bar nav ml-auto">
                <li class="nav-item">
                    <a asp-action="askquestion" class="btn btn-primary">Ask question</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="form-text w-100">
        <hr />
        <div>
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Item1.Content)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Item1.Content)
                </dd>
            </dl>
        </div>
    </div>
    <hr />
</div>
<div class="w-75">
    <h2>Answers</h2>
    @foreach (var answers in Model.Item2)
    {
        <div class=" w-75">
            <ul class="form-text">
                <li>@Html.DisplayFor(model => answers.Content)</li>
            </ul>
        </div>
        <br />
    }
    <hr />
</div>

<div class="w-75">
    <div>
        <h2>Your Answer</h2>
        <form asp-action="Answer" asp-controller="Questions" asp-route-QuestionId="@Quid" class="form-control">
            <div class="form-group">
                <textarea id="Content" name="Content" class="form-control" style="height:200px" placeholder="Submit answer here"></textarea>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div>
        <a asp-action="DisplayQuestions">Back to List</a>
    </div>
</div>


